
/*GET NEW COLORSCHEME*/
/*SEEMS LIKE YOU SHOULD CHANGE EVERYTHING FROM EM TO PX*/

* {
  background-color:#8999A6;
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
}

a {
  color:#C6D9D7;
  text-decoration:none;
}

a:hover {
  color:#DEA093;
}
/*NEED TO FIX THIS HEADING ISSUE, SHOULDN'T INCLUDE BLOG TITLE*/

h1 {
  display:block;
  margin:20px;
  font-size:50px;
  color:#3B5A73;
}

.badge {
  padding:1em;
  text-align:center;
  border:5px solid #3B5A73;
  margin:20px;
  width:18em;
  clear:left;
}

/*CHANGE NAVIGATOR TO BAR, TAKE OUT STUPID BUTTONS AND USE ICONS*/

/*THINK ABOUT WHAT ORDER THE BUTTONS SHOULD BE*/

.navigator {
  position:relative; top:-620px;
  margin:20px;
  width:370px;
  clear:both;
  float:right;
/*  position:relative; top:-596px;
*/  }

.button {
  border:5px solid #3B5A73;
  margin:0em;
  text-align:center;
  padding:.5em;
}

.spacer {
  color:#8999A6;
}

.welcome {
width:18em;
text-align:justify;
margin-top:10px;
margin-right:20px;
float:right;
position:relative; top: -150px;
}

.technical {
  text-align:center;
  color:#C6D9D7;
  position:relative; top:-420px;
  margin:19px;
  }

.cultural {
  text-align:center;
  margin:20px;
  color:#C6D9D7;
  float: right;
  position:relative; top: -1100px;right:-20px;
  }

code {
  background-color: gray;
  display:inline-block;
}

/*Create formatting for prev/index/next */
/*Think about making an actual theme, use album art for inspiration, and thematically, maybe try harder to make things music related*/

.technical {
  width:18em;
  text-align:center;
   margin-top:22em;
   color:#C6D9D7;
  }

.cultural {
  margin:2em;
  margin-left:3em;
  width:18em;
  text-align:center;
  margin-top:22em;
  color:#C6D9D7;
  }