
/*GET NEW COLORSCHEME*/
/*SEEMS LIKE YOU SHOULD CHANGE EVERYTHING FROM EM TO PX*/

* {
  background-color:#8999A6;
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
}

a {
  color:#C6D9D7;
  text-decoration:none;
}

a:hover {
  color:#DEA093;
}
/*NEED TO FIX THIS HEADING ISSUE, SHOULDN'T INCLUDE BLOG TITLE*/

h1 {
  display:block;
  margin:20px;
  font-size:50px;
  color:#3B5A73;
}
.badge {
  padding:1em;
  height:82%;
  display:none;
}
.badge {
  position:fixed; left:0px; top:70px;
  text-align:center;
  border:5px solid #3B5A73;
  margin:2em;
  margin-left:3em;
  width:18em;
  display:none;
}

/*CHANGE NAVIGATOR TO BAR, TAKE OUT STUPID BUTTONS AND USE ICONS*/

/*THINK ABOUT WHAT ORDER THE BUTTONS SHOULD BE*/

.navigator {
  position:fixed; top:20px; right:0px;
  margin:20px;
  width:18em;
  clear:right;
  }

.button {
  border:5px solid #3B5A73;
  margin:0em;
  text-align:center;
  padding:.5em;
}

.spacer {
  color:#8999A6;
}

.welcome {
position:fixed; top:425px; right:20px;
width:18em;
text-align:justify;
margin-top:10px;

}

.technical {
  position:fixed; top:70px; right:3em;
  width:18em;
  text-align:center;
   margin-top:22em;
   color:#C6D9D7;
  }

.cultural {
  position:fixed; top:70px; left:0px;
  margin:2em;
  margin-left:3em;
  width:18em;
  text-align:center;
  margin-top:22em;
  color:#C6D9D7;
  }

  .blogcontent {
  text-align:justify;
  margin-top:;
  width:28em;
  margin-left:20px;
  clear:left;
}

.blogtitle {
font-size:40px;
color:black;
padding:0px;
margin:0px;
}
.blogdate {
padding:0px;
margin:0px;
}

code {
  background-color: gray;
  display:inline-block;
}

/*Create formatting for prev/index/next */
/*Think about making an actual theme, use album art for inspiration, and thematically, maybe try harder to make things music related*/