
/*GET NEW COLORSCHEME*/
/*SEEMS LIKE YOU SHOULD CHANGE EVERYTHING FROM EM TO PX*/

* {
  background-color:#73233B;
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
}

a {
  color:#D68900;
  text-decoration:none;
}

a:hover {
  color:#543A4D;
}

h1 {
  display:block;
  margin-left:12px;
  margin-bottom:16px;
  font-size:50px;
  color:#D68900;
  font-weight:normal;
  text-align: center;

}

.navbar {
  width:100%;
  border:none;
  color:#D68900;
  display:block;
  clear:top;
  position:left:0px;
  text-align:center;
}

.navbar .menu {
  margin:22px;
  color:#D68900;
}

.navbar .menu:hover {
  color:#543A4D;
}


.welcome {
text-align:justify;
margin-top:60px;
text-align:center;
margin-right:70px;
margin-left:70px;
}

.technical {
  position:fixed; top:70px; right:3em;
  width:18em;
  text-align:center;
   margin-top:22em;
   color:#C6D9D7;
  }

.cultural {
  position:fixed; top:70px; left:0px;
  margin:2em;
  margin-left:3em;
  width:18em;
  text-align:center;
  margin-top:22em;
  color:#C6D9D7;
  }

  .blogcontent {
  text-align:justify;
  display:block;
  width:80%;
  margin-left:10%;
  clear:left;
}

.blogtitle {
font-size:40px;
color:black;
padding:0px;
margin:0px;
}
.blogdate {
padding:0px;
margin:0px;
text-align:center;
}

.blognav {
  diplay:inline-block;
  width:80%;
  margin-left:10%;
  text-align:center;
  margin-bottom:20px;
}

.blognav a {
  margin:44px;
}

.code {
  background-color: gray;
  display:inline-block;
}

/*Create formatting for prev/index/next */
/*Think about making an actual theme, use album art for inspiration, and thematically, maybe try harder to make things music related*/